<form action="/createcomment" method="POST">
  Name: <input type="text" name="comment[user]"><br/>
  Comment: <input type="text" name="comment[comment]"><br/>
  <input type="submit">
</form>

<p><a href="blog.erb">Home</a></p>
