<div class="content-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"> <a class="navbar-brand" href="/kenjacau">Kenjacau.me</a> </div>
            <ul class="nav navbar-nav">
                <li class="home"><a href="/">Home</a></li>
                <li class="about"><a href="/about">About Me</a></li>
                <li class="projects"><a href="/project">Projects</a></li>
                <li class="blog active"><a href="/blog">Blog</a></li>
                <li class="resume"><a href="/resume">Resume</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./create.erb"><span class="glyphicon glyphicon-user"></span>Contact Me</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="container">
            <div class="row social-block">
                <div class="col-sm-12">
                    <div class="socialmedia">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/kenjacau"><img src="/images/linkedin.png"></a>
                            </li>
                            <li>
                                <a href="https://github.com/Kenjacau"><img src="/images/thegithubicon.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
             
            <div class="col-sm-12">
                <div class="jumbotron text-center">
                <h2>Something happened...try again?</h2>
                
                     <a href="/blog"><button class="btn-info" type="submit">Go Back</button></a>
                    
                    </div>

                      </div>
</div>

               
            </div>
        </div>
