<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Kenjacau Profile</title>
    <meta charset="utf-8"> 
    <!--MobileFirst-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../addon/animate.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    
    <script src="../js/bootstrap.js"></script>
    <script src="../addon/jquery-2.2.0.js"></script>
    <script src="../addon/jquery.lettering.js"></script>
    <script src="../addon/jquery.textillate.js"></script>
    <script src="../js/main.js"></script>

</head>

<body class="home">
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://kenjacau.me/">Kenjacau</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="home"><a class="active" href="index.html">Home</a></li>
                    <li class="about"><a href="./views/about.html">About Me</a></li>
                    <li class="projects"><a href="./views/project.html">Projects</a></li>
                    <li class="blog"><a href="./views/blog.html">Blog</a></li>
                    <li class="resume"><a href="./views/resume.html">Resume</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./create.erb"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                </ul>
            </div>
        </nav>
    <div class="row">
       <div class="col-sm-12">
        <div class="socialmedia">
            <ul class="list-inline">
                <li><a href="https://www.linkedin.com/in/kenjacau"><img src="./res/linkedin.png"></a></li>
                <li><a href="https://github.com/Kenjacau"><img src="./res/thegithubicon.png"></a></li>
            </ul>
        </div>
    </div> 
    </div>    
        
    <div class="row">
    <div class="col-sm-12">
        <div id="homecon">
            <h1 class="tlt" data-in-effect="fadeInLeftBig" data-out-shuffle="true">Kenny Cauthen</h1>
            <p class="tlt2">Software | Mobile | Creative</p>
            <a href="./html/about.html" class="button">Learn More</a>
        </div>
    </div>
    </div>
    
    </div>
</body>
</html>