<ul>
<% @customers.each do |customers| %>
 <li>
   <p><a href="<%= customers.email %>"><%= customers.email %></a> from <%= customers.name %></p>
   <p><%= customers.comment %></p> 
 </li>
<% end %>
</ul>

<p><a href="/create">Join the List</a></p>
