<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Kenjacau Profile</title>
    <meta charset="utf-8"> 
    <!--MobileFirst-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../addon/animate.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    
    <script src="../js/bootstrap.js"></script>
    <script src="../addon/jquery-2.2.0.js"></script>
    <script src="../addon/jquery.lettering.js"></script>
    <script src="../addon/jquery.textillate.js"></script>
    <script src="../js/main.js"></script>

</head>
<body>
   <%=yield %>
   
   <footer class="site-footer container">
    <hr>
    <p class="text-center">
      <a href="/faq/">Frequently Asked Questions</a> |
      <a href="/tos/">Terms of Service</a>
    </p>
    <p class="text-center">
      <a href="//www.kenjacau.com" title="Privacy Policy">Privacy Policy</a>
    </p>
    <p class="text-center">Copyright © 2016 Kenjacau</p>
  </footer>
        
</body>


 
</html>