<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Kenjacau Profile</title>
    <meta charset="utf-8"> 
    <!--MobileFirst-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
     <link rel="stylesheet" href="/css/animate.css"  type="text/css"/>
     
     
     <script src="/js/jquery-2.2.1.min.js"></script>
     <script src="/js/jquery-1.12.2.min.js"></script>
     
     <script src="/js/jquery.lettering.js"></script>
     <script src="/js/jquery.textillate.js"></script>
     <script src="/js/main.js"></script>
    
   
     <script src="/js/bootstrap.min.js"></script>
    
    
       
   
 
    

</head>
<body>
   <%=yield %>
   
   <footer class="site-footer container">
    <hr>
    <p class="text-center">
      <a href="/faq/">Frequently Asked Questions</a> |
      <a href="/tos/">Terms of Service</a>
    </p>
    <p class="text-center">
      <a href="//www.kenjacau.com" title="Privacy Policy">Privacy Policy</a>
    </p>
    <p class="text-center">Copyright © 2016 Kenjacau</p>
  </footer>
        
</body>


 
</html>