<div class="content-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"> <a class="navbar-brand" href="http://kenjacau.me/">Kenjacau</a> </div>
            <ul class="nav navbar-nav">
                <li class="home"><a href="home.erb">Home</a></li>
                <li class="about"><a href="./views/about.erb">About Me</a></li>
                <li class="projects"><a href="./views/project.erb">Projects</a></li>
                <li class="blog active"><a href="./views/blog.erb">Blog</a></li>
                <li class="resume"><a href="./views/resume.html">Resume</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./create.erb"><span class="glyphicon glyphicon-user"></span>Contact Me</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="container">
            <div class="row social-block">
                <div class="col-sm-12">
                    <div class="socialmedia">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/kenjacau"><img src="linkedin.png"></a>
                            </li>
                            <li>
                                <a href="https://github.com/Kenjacau"><img src="thegithubicon.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                    
                    
           <div class="row">
        <div class="content">
            <h1 class="tlt2">Java Programming Project</h1>
            <p><a href="https://github.com/Kenjacau/STARGAME">Super Elite: Space Adventure!</a> - Created a text based game using java with three other classmates.</p>


            <h1 class="tlt2">Android App Projects</h1>
            <ul>
                <li><a href="http://wiki.ggc.edu/wiki/User:Kcauthen:_4550_FinalProjectWeBeaconApp">
                        WeBeacon
                    </a> - Created an Android app that allows you to track and locate preprogrammed Bluetooth beacons.</li>
                <li><a href="http://wiki.ggc.edu/wiki/User:Kcauthen:_4550_Assignment7KennyCurrencyConverterApp">
                       Currency Converter
                    </a> - Utilized retrofit 2.0 and fixer.io to determine the current currency exchange rate between a few currencies.</li>
            </ul>
            <h1 class="tlt2">Current Project</h1>
            <p>RASN - Web and mobile application for DJ song requests</p>

        </div>
    </div>

                    
        </div>
    </div>
</div>
    